<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Home - Football news</title>
</head>

<body>
<div layout:fragment="content" class="container mt-5">

    <h2 class="mb-4">Football News</h2>


    <ul class="list-group">
        <li th:each="article : ${articles}" class="list-group-item mb-3">

            <h5>
                <a th:href="${article['url']}" th:text="${article['title']}" target="_blank"
                   class="text-decoration-none text-primary"></a>
            </h5>

            <p th:if="${article['description'] != null}" th:text="${article['description']}" class="mb-1 text-muted"></p>

            <small th:if="${article['source'] != null}" class="text-secondary">
                Source: <span th:text="${article['source']}"></span>
            </small>

            <div th:if="${article['image'] != null}" class="mt-2">
                <img th:src="${article['image']}" alt="Article Image" class="img-fluid rounded" style="max-height: 200px;">
            </div>

        </li>
    </ul>


</div>
</body>
</html>
